 {% load static %}
  <section id="team" class="section">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="team-text section-header text-center">
              <div>
                <h2 class="section-title">Team Members</h2>
                <div class="desc-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                  <p>eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row">
          <!-- Start Col -->
          {%for t in team %}
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <img src="{{t.imagem.url}}" class="img-fluid" alt="">
              </div>

              <div class="team-details">
              <div class="team-social-icons">
                  <ul class="social-list">
                    <li><a href="{{t.facebook}}"><i class="lni-facebook-filled"></i></a></li>
                    <li><a href="{{t.twitter}}"><i class="lni-twitter-filled"></i></a></li>
                    <li><a href="{{t.gmail}}"><i class="lni-google-plus"></i></a></li>
                  </ul>
                </div>
                <div class="team-inner text-center">
                  <h5 class="team-title">{{t.nome}}</h5>
                  <p>{{t.cargo}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Start Col -->




        </div>
        <!-- End Row -->
      </div>
    </section>