{% extends 'base.html' %}
{% load static %}

{%block content %}

    <!-- Header Section Start -->
    {% include 'paginas/home.html' %}
    <!-- Header Section End -->


    <!-- Services Section Start -->
    {% include 'paginas/services.html' %}
    <!-- Services Section End -->



    <!-- Business Plan Section Start -->
     {% include 'paginas/business.html' %}
    <!-- Business Plan Section End -->



    <!-- Cool Fetatures Section Start -->
          {% include 'paginas/features.html' %}
    <!-- Cool Fetatures Section End -->


    <!-- Recent Showcase Section Start -->
    {% include 'paginas/showcase.html' %}
    <!-- Recent Showcase Section End -->

    <!-- Our Pricing Plan Section Start -->
       {% include 'paginas/pricing.html' %}
    <!-- Our Pricing Plan Section End -->

    <!-- Client Testimoninals Section Start -->
        {% include 'paginas/testimonial.html' %}
    <!-- Client Testimoninals Section End -->


    <!-- Team section Start -->
    {% include 'paginas/team.html' %}
    <!-- Team section End -->


    <!-- Blog Section -->
      {% include 'paginas/blog.html' %}
    <!-- blog Section End -->

    <!-- Contact Us Section -->
    {% include 'paginas/contact.html' %}
    <!-- Contact Us Section End -->

    <!-- Footer Section Start -->
  {% endblock  %}